.table {
  padding: 0px 24px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.table_wrapper {
  border: 1px solid $border_color;
  border-radius: 8px;
  width: 100%;
}

@mixin headerText() {
  text-transform: uppercase;
  font-size: $font_size-sm;
  color: $font_color-gray;
  letter-spacing: 0.96px;
}

.table_header {
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  background-color: #f2f0f0;

  .taskname {
    p {
      @include headerText();
    }
    margin-left: 40px;
    margin-right: 90px;
  }
  .lead {
    p {
      @include headerText();
    }
  }
  .scheduler {
    p {
      @include headerText();
    }
  }
  .service_provider {
    p {
      @include headerText();
    }
  }
  .deadline {
    p {
      @include headerText();
    }
  }
  .priority {
    p {
      @include headerText();
    }
  }
}

.table_function {
  display: flex;
  padding: 12px 24px;
  border-bottom: 1px solid $border_color;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $icon_btn_bg_color-side-bar-hover;
  .section1 {
    display: flex;

    align-items: center;
    gap: 20px;
    p {
      font-size: 14px !important;
      font-weight: $font_weight-600;
      color: #000;
      line-height: 17px;
    }
    img {
      width: 20px;
      height: 20px;
    }
    button {
      padding: 8px 12px;
      border-radius: 200px;
      border: 1px solid #bbcaf3;
      background-color: #e8edfb;
    }
  }
  .section2 {
    display: flex;
    align-items: center;
    gap: 12px;
    button {
      display: flex;
      align-items: center;

      background-color: #fff;
      padding: 10px 16px;
      border-radius: 8px;
      border: 1px solid $border_color;
      gap: 6px;
      p {
        font-size: 14px;
      }
      img {
        height: 16px;
        width: 16px;
      }
      &:hover {
        // border-color: $bg_color-sidebar-button;
        // box-shadow: 0px 0px 10px $shadow_color;
        border-color: #e7aeb4;
        // box-shadow: 0px 0px 10px $shadow_color;
        box-shadow: -4px 4px 55px rgba(191, 57, 71, 0.12);
      }
    }
  }
}

.table_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > div:last-child {
    border-bottom: none;
  }
}
.table_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border_color;

  align-items: center;
  padding: 8px 24px;

  .task_data {
    flex: 1.4;
  }
  .avatar_data {
    flex: 1;
  }
  .date_data {
    flex: 1;
  }

  div {
    display: flex;
    align-items: center;
    height: 30px;
    input {
      margin-right: 25px;
      margin-left: 3px;
    }
    .name {
      font-size: 14px;
      font-weight: $font_weight-400;
    }
    .date {
      color: #292b33;
      font-size: 14px;
      font-weight: $font_weight-400;
    }
    .table_avatar {
      height: 28px;
      width: 28px;
      margin-right: 8px;
    }
    .table_icon {
      margin-right: 8px;
      height: 20px;
      width: 20px;
    }
  }
}
.table_row {
  .date_data {
    display: flex;
    width: 100%;
    justify-content: center;

    .date_data_wrapper {
      padding: 8px 4px;
      border-radius: 4px;
      &:hover {
        background-color: #fbf2f3;
        border: 1px dashed #e7aeb4;
      }
    }
  }
}

a {
  height: 10;
  .table_flag--yellow {
    //  border: 1px dashed #fcd34d;
    border: 1px dashed transparent;
    padding: 5px;
    &:hover {
      background-color: #fffbeb;
      border-color: #fcd34d;
    }

    border-radius: 8px;
  }

  .table_flag--blue {
    border: 1px dashed transparent;
    padding: 5px;
    border-radius: 8px;
    &:hover {
      background-color: #e8edfb;
      border-color: #8ea7ec;
    }
  }
}

@media only screen and (max-width: 1099px) {
  .table {
    display: none;
  }
}
