.wigdet_container {
  padding: 0px 24px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  // flex-wrap: wrap;
  // margin: 24px 0px;
  width: 100%;
  gap: 10px;
  max-width: 1250px;
  margin: 24px auto;
}

.widget {
  padding: 20px;
  border: 1px solid $border_color;
  border-radius: 12px;
  min-width: 280px;
  &:hover {
    border-color: #e7aeb4;
    // box-shadow: 0px 0px 10px $shadow_color;
    box-shadow: -4px 4px 55px rgba(191, 57, 71, 0.12);
  }
}

.widget_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.widget_header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.widget_header_text {
  color: $font_color-widget-dark-gray;
  font-size: $font_size_task-widget-md;
  font-weight: $font_weight-500;
  line-height: 16px;
}

.widget_header_icon_section {
  display: flex;
  align-items: center;
  height: 25px;
  gap: 3px;
  p {
    color: $font_color-widget-gray;
    font-size: $font_size_task-widget-md;
    font-weight: $font_weight-500;
    line-height: 16px;
  }
  img {
    height: 20px;
    width: 20px;
  }
}

.widget_body {
  width: 100%;
  justify-content: flex-start;
  p {
    font-size: $font_size_task-widget-xl;

    font-weight: $font_weight-700;
    line-height: 28px;
  }
}

.widget_footer {
  display: flex;
  flex-direction: column;
}

.scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  p {
    font-size: $font_size_task-widget-sm;
    color: $font_color-gray;
  }
}

@mixin ratingColor($bgColor) {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background-color: map-get($scale_colors-widget, $bgColor);
}

.rating_container {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    .rating_color--red {
      @include ratingColor("high");
    }
    .rating_color--blue {
      @include ratingColor("normal");
    }
    .rating_color--yellow {
      @include ratingColor("low");
    }
    p {
      font-size: $font_size_task-widget-lg;
      color: $font_color-light-black;
      font-weight: $font_weight-600 !important;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .widget {
    padding: 20px;
    border: 1px solid $border_color;
    border-radius: 12px;
    min-width: 290px;
  }
}

@media only screen and (max-width: 1488px) {
  .widget {
    padding: 20px;
    border: 1px solid $border_color;
    border-radius: 12px;
    min-width: 280px;
  }
}

@media only screen and (max-width: 1444px) {
  .widget {
    padding: 20px;
    border: 1px solid $border_color;
    border-radius: 12px;
    min-width: 260px;
  }
}
@media only screen and (max-width: 1378px) {
  .widget {
    min-width: 248px;
  }
  .wigdet_container {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1284px) {
  .widget {
    min-width: 280px;
  }

  .wigdet_container {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media only screen and (max-width: 1196px) {
  .widget {
    min-width: 255px;
  }
}

@media only screen and (max-width: 1099px) {
  // .table {
  //   display: none;
  // }
  .widget {
    min-width: 235px;
  }
  .wigdet_container {
    max-width: 750px;
    margin: 16px auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 510px) {
  .widget {
    min-width: 175px !important;
    padding: 8px;
    // background-color: red;
  }
  .wigdet_container {
    width: 100%;
    margin: 16px auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  .widget_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .widget_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .scale {
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    align-items: center;
  }
  .rating_container {
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
}

@media only screen and (max-width: 409px) {
  .widget {
    width: 100%;
    padding: 8px;
  }
  // .wigdet_container {
  //   width: 100%;
  //   margin: 16px auto;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   gap: 12px;
  // }
  // .widget_wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 8px;
  //   width: 100%;
  // }
  // .widget_footer {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  // .scale {
  //   flex-direction: column;
  //   justify-content: space-around;
  //   height: 60px;
  //   align-items: center;
  // }
  // .rating_container {
  //   flex-direction: column;
  //   justify-content: space-between;
  //   height: 60px;
  //   align-items: center;
  // }
}
