//global
$font_color-black: #0000;
$font_color-light-black: #292b33;
$bg_color: #dcdee6;
$font_color-gray: #6b6f80;
$border_color: #bbbfcc;

//Widget colors
$font_color-widget-gray: #9ea2b3;
$font_color-widget-dark-gray: #545766;
$scale_colors-widget: (
  "high": #f87171,
  "normal": #6183e4,
  "low": #fcd34d,
);
//sidebar
$bg_color-sidebar-button: #bf3947;
