@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

//font family
$font_family: "Inter", sans-serif;

//font weights
$font_weight-800: 800;
$font_weight-700: 700;
$font_weight-600: 600;
$font_weight-500: 500;
$font_weight-400: 400;

//font sizes
$font_size-xl: 28px;
$font_size-lg: 16px;
$font_size-sm: 12px;
$font_size_task-widget-xl: 23px;
$font_size_task-widget-lg: 16px;
$font_size_task-widget-md: 12px;
$font_size_task-widget-sm: 11px;
