@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
.sidebar {
  height: 100vh;
  padding: 24px 16px;
  min-width: 250px;
  border-right: 1px solid #dcdee6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-wrapper {
  width: 220px;
}

.header {
  width: 220px;
  display: inline-flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.header .burger {
  border: 1px solid #dcdee6;
  border-radius: 4px;
  padding: 4px;
}
.header .burger img {
  width: 20px;
  height: 20px;
}
.header .logo {
  margin-top: 3px;
}
.header .logo img {
  width: 160px;
  height: 20px;
}

.sidebar-btn {
  display: flex;
  justify-content: center;
  margin: 32px 0px;
  width: 100%;
}
.sidebar-btn button {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  background-color: #bf3947;
  padding: 12px 16px;
  align-items: center;
  border: none;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  gap: 5px;
}
.sidebar-btn button:hover {
  background-color: #992e39;
}
.sidebar-btn button p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.sidebar-btn button img {
  height: 20px;
  width: 20px;
}

.sidebar-icon-buttons {
  display: flex;
  flex-direction: column;
  padding: 8px 18px;
  align-items: flex-start;
  gap: 24px;
}
.sidebar-icon-buttons .sidebar-icon-button-section {
  width: 100%;
}
.sidebar-icon-buttons .sidebar-icon-button-section h1 {
  text-transform: uppercase;
  font-size: 12px;
  color: #838799;
  font-weight: 600;
  margin-bottom: 16px;
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 120%;
  gap: 12px;
  margin-left: -20px;
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button .active {
  background-color: #fbf2f3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 300ms ease-in-out;
  width: 100%;
  border: none;
  gap: 12px;
  border-radius: 12px;
  padding: 8px 20px 8px 20px;
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button .active img {
  height: 24px;
  width: 24px;
  filter: invert(23%) sepia(33%) saturate(4947%) hue-rotate(335deg) brightness(97%) contrast(78%);
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button .active p {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: #bf3947;
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button .not_active {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 300ms ease-in-out;
  width: 100%;
  border: none;
  gap: 12px;
  border-radius: 12px;
  padding: 8px 20px 8px 20px;
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button .not_active:hover {
  background: #edeef2;
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button .not_active img {
  height: 24px;
  width: 24px;
}
.sidebar-icon-buttons .sidebar-icon-button-section .icon-button .not_active p {
  line-height: 20px;
  font-size: 16px;
  color: #6b6f80;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.profile .profile_wrapper {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile .profile_wrapper .user_pic {
  width: 48px;
  height: 44px;
  border-radius: 8px;
}
.profile .profile_wrapper .user_name {
  font-size: 16px;
  font-weight: 500;
  color: #6b6f80;
}
.profile .profile_wrapper .exit {
  height: 16px;
  width: 16px;
}

@media only screen and (max-width: 1284px) {
  .sidebar {
    display: none;
  }
}
.main_header {
  padding: 24px 24px 0px 24px;
  border-bottom: 1px solid #dcdee6;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading_section h1 {
  font-size: 28px;
  font-weight: 800;
  color: #292b33;
}
.heading_section button {
  display: flex;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #dcdee6;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}
.heading_section button:hover {
  border-color: #bf3947;
  box-shadow: 0px 0px 10px #e7aeb4;
}
.heading_section button img {
  height: 20px;
  width: 20px;
}
.heading_section button p {
  font-size: 16px;
  font-weight: 500;
}

.heading_task_section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.heading_task_section button {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: 13px;
}
.heading_task_section .active {
  border-bottom: 2px solid #bf3947;
}
.heading_task_section .unactive {
  color: #6b6f80;
}

@media only screen and (max-width: 510px) {
  .main_header {
    border-bottom: none;
  }
}
.wigdet_container {
  padding: 0px 24px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  max-width: 1250px;
  margin: 24px auto;
}

.wigdet_row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.widget {
  padding: 20px;
  width: 100%;
  border: 1px solid #dcdee6;
  border-radius: 12px;
}
.widget:hover {
  border-color: #e7aeb4;
  box-shadow: -4px 4px 55px rgba(191, 57, 71, 0.12);
}

.widget_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.widget_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  justify-content: space-between;
}

.widget_header_text {
  color: #545766;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.widget_header_icon_section {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 3px;
}
.widget_header_icon_section p {
  color: #9ea2b3;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.widget_header_icon_section img {
  height: 20px;
  width: 20px;
}

.widget_body {
  width: 100%;
  justify-content: flex-start;
}
.widget_body p {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
}

.widget_footer {
  display: flex;
  flex-direction: column;
}

.scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
}
.scale p {
  font-size: 11px;
  color: #6b6f80;
}

.rating_container {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  flex-direction: row;
}
.rating div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.rating div .rating_color--red {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background-color: #f87171;
}
.rating div .rating_color--blue {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background-color: #6183e4;
}
.rating div .rating_color--yellow {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background-color: #fcd34d;
}
.rating div p {
  font-size: 16px;
  color: #292b33;
  font-weight: 600 !important;
}

@media only screen and (min-width: 1500px) {
  .widget {
    padding: 20px;
    border: 1px solid #dcdee6;
    border-radius: 12px;
  }
}
@media only screen and (max-width: 853px) {
  .wigdet_container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 550px) {
  .widget {
    width: 100%;
    padding: 8px;
  }
  .wigdet_container {
    width: 100%;
    margin: 16px auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  .widget_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .widget_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .scale {
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    align-items: center;
  }
  .rating_container {
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
}
@media only screen and (max-width: 420px) {
  .wigdet_row {
    flex-wrap: wrap;
  }
}
.table {
  padding: 0px 24px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.table_wrapper {
  border: 1px solid #dcdee6;
  border-radius: 8px;
  width: 100%;
}

.table_header {
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  background-color: #f2f0f0;
}
.table_header .taskname {
  margin-left: 40px;
  margin-right: 90px;
}
.table_header .taskname p {
  text-transform: uppercase;
  font-size: 12px;
  color: #6b6f80;
  letter-spacing: 0.96px;
}
.table_header .lead p {
  text-transform: uppercase;
  font-size: 12px;
  color: #6b6f80;
  letter-spacing: 0.96px;
}
.table_header .scheduler p {
  text-transform: uppercase;
  font-size: 12px;
  color: #6b6f80;
  letter-spacing: 0.96px;
}
.table_header .service_provider p {
  text-transform: uppercase;
  font-size: 12px;
  color: #6b6f80;
  letter-spacing: 0.96px;
}
.table_header .deadline p {
  text-transform: uppercase;
  font-size: 12px;
  color: #6b6f80;
  letter-spacing: 0.96px;
}
.table_header .priority p {
  text-transform: uppercase;
  font-size: 12px;
  color: #6b6f80;
  letter-spacing: 0.96px;
}

.table_function {
  display: flex;
  padding: 12px 24px;
  border-bottom: 1px solid #dcdee6;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf2f3;
}
.table_function .section1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.table_function .section1 p {
  font-size: 14px !important;
  font-weight: 600;
  color: #000;
  line-height: 17px;
}
.table_function .section1 img {
  width: 20px;
  height: 20px;
}
.table_function .section1 button {
  padding: 8px 12px;
  border-radius: 200px;
  border: 1px solid #bbcaf3;
  background-color: #e8edfb;
}
.table_function .section2 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.table_function .section2 button {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #dcdee6;
  gap: 6px;
}
.table_function .section2 button p {
  font-size: 14px;
}
.table_function .section2 button img {
  height: 16px;
  width: 16px;
}
.table_function .section2 button:hover {
  border-color: #e7aeb4;
  box-shadow: -4px 4px 55px rgba(191, 57, 71, 0.12);
}

.table_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table_data > div:last-child {
  border-bottom: none;
}

.table_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdee6;
  align-items: center;
  padding: 8px 24px;
}
.table_row .task_data {
  flex: 1.4;
  gap: 16px;
}
.table_row .task_data input {
  margin: 0;
}
.table_row .avatar_data {
  flex: 1;
}
.table_row .date_data {
  flex: 1;
}
.table_row div {
  display: flex;
  align-items: center;
  height: 30px;
}
.table_row div input {
  margin-right: 25px;
  margin-left: 3px;
}
.table_row div .name {
  font-size: 14px;
  font-weight: 400;
}
.table_row div .date {
  color: #292b33;
  font-size: 14px;
  font-weight: 400;
}
.table_row div .table_avatar {
  height: 28px;
  width: 28px;
  margin-right: 8px;
}
.table_row div .table_icon {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

.table_row .date_data {
  display: flex;
  width: 100%;
  justify-content: center;
}
.table_row .date_data .date_data_wrapper {
  padding: 8px 4px;
  border-radius: 4px;
}
.table_row .date_data .date_data_wrapper:hover {
  background-color: #fbf2f3;
  border: 1px dashed #e7aeb4;
}

a {
  height: 10;
}
a .table_flag--yellow {
  border: 1px dashed transparent;
  padding: 5px;
  border-radius: 8px;
}
a .table_flag--yellow:hover {
  background-color: #fffbeb;
  border-color: #fcd34d;
}
a .table_flag--blue {
  border: 1px dashed transparent;
  padding: 5px;
  border-radius: 8px;
}
a .table_flag--blue:hover {
  background-color: #e8edfb;
  border-color: #8ea7ec;
}

.table_data_responsive {
  display: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #e7aeb4;
  border-radius: 50%;
  /* Adjust as needed for spacing */
  vertical-align: middle; /* Align the radio button with the text properly */
}

input[type=checkbox]:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #e7aeb4;
}

.dot_button {
  display: none;
}
.dot_button button {
  background-color: transparent !important;
  padding: 6px !important;
  border-radius: 8px;
  border: 1px solid #dcdee6;
}
.dot_button button img {
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 1099px) {
  .table {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .table_data_responsive {
    display: flex;
    padding: 16px 24px 20px 24px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .table_data_responsive .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }
  .table_data_responsive .column-1 > div:last-child {
    margin-top: 16px;
  }
  .table_data_responsive .column-1 input {
    border: 1px solid #dcdee6;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    color: #000000;
    background-color: #f9fafc;
  }
  .table_data_responsive .column-1 .header_text {
    text-transform: uppercase;
    font-size: 12px;
    color: #6b6f80;
    letter-spacing: 0.96px;
    height: 24px;
  }
  .table_data_responsive .column-1 .header_text_small {
    color: #838799;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
  }
  .table_data_responsive input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url(../../../assests/calendarPicker.svg);
    font-family: Inter;
  }
  .table_data_responsive .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
  }
  .table_data_responsive .column-2 .avatar_data {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .table_data_responsive .column-2 .avatar_data img {
    height: 24px;
    height: 24px;
    border-radius: 2000px;
  }
  .table_data_responsive .column-2 .avatar_data p {
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
  }
  .table_data_responsive .column-2 > div:last-child {
    margin-top: 16px;
  }
  .table_data_responsive .column-2 > div:last-child p {
    color: #838799;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
  }
  .table_data_responsive .column-2 > div:last-child div {
    padding: 8px 12px;
    display: flex;
    border-radius: 4px;
    gap: 12px;
    align-items: center;
    border: 1px solid #dcdee6;
    background-color: #f9fafc;
  }
  .table_data_responsive .column-2 > div:last-child div img {
    height: 16px;
    width: 16px;
  }
  .table_data_responsive .column-2 > div:last-child div p {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
  }
  .table_header {
    display: none;
  }
  .table_data > .table_row {
    display: none;
  }
  .table_data > .table_row:first-child {
    display: block;
    border: none;
  }
  .table_data > .table_row:first-child .task_data {
    gap: 8px;
  }
  .table_data > .table_row:first-child .task_data input {
    margin: 0;
  }
  .table_data > .table_row:first-child button {
    padding: 8px 16px;
    border-radius: 200px;
    font-size: 12px;
    font-weight: 500;
  }
  .table_data > .table_row:first-child .avatar_data {
    display: none;
  }
  .table_data > .table_row:first-child .date_data {
    display: none;
  }
  .table_data > .table_row:first-child > div:last-child {
    display: none !important;
    background-color: red;
  }
  .table_function .section2 > button {
    display: none;
  }
  .table_function .section2 > div {
    display: block;
  }
  .table_function .section1 img {
    display: none;
  }
  .table_wrapper {
    border: none;
  }
}
.mobile_view_topbar {
  display: none;
  padding: 24px 16px;
  background-color: #fff;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #dcdee6;
}
.mobile_view_topbar .header {
  display: flex;
  align-items: center;
}
.mobile_view_topbar .header .burger {
  border: 1px solid #dcdee6;
  border-radius: 4px;
  padding: 4px;
}
.mobile_view_topbar .header .burger img {
  width: 20px;
  height: 20px;
}
.mobile_view_topbar .header .logo img {
  width: 160px;
  height: 20px;
}

@media only screen and (max-width: 1284px) {
  .mobile_view_topbar {
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: #f9fafc;
}

.container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 250px);
}

@media only screen and (max-width: 1284px) {
  .main {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */