@import "./varables/colors";
@import "./varables/fonts";
@import "./components/sidebar/sidebar";
@import "./components/mainComponents/mainHeader";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_family;
  background-color: $bg_color;
}

.container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 250px);
}
