@import "./varables/colors";
@import "./varables/fonts";
@import "./components/sidebar/sidebar";
@import "./components/mainComponents/mainHeader";
@import "./components/mainComponents/widget.scss";
@import "./components/mainComponents/table";
// @import "./components/responsiveResponsiveBar/responsiveTopBar";
// @import "./components/responsiveTable/responsiveTable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_family !important;
}

body {
  font-family: $font_family !important;
  background-color: $bg_color !important;
}

.container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;

  width: calc(100vw - 250px);
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (max-width: 1313px) {
  .main {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}
